* {
    margin: 0px;
    padding: 0px;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #010409;
}

.box-container {
    height: 300px;
    width: 300px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 100px);
    user-select: none;
    place-items: center;
    color: white;
}

.container {
    height: 100px;
    width: 100px;
    font-size: 7em;
    font-family: poppins;
    border: solid 1.5px blue;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.player {
    font-family: poppins;
    color: whitesmoke;
    margin-top: 70px;
}

body.won .container {
    opacity: 0.6;
    pointer-events: none;
}